{% extends 'lbforum/profile/base.html' %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}

{% block title %}
	{% trans "Change your password" %}
{% endblock %}

{% block content_content %}
  <div class="box">
    <div class="cell">
      <span class="bigger">
        {% trans "Change your password" %}
      </span>
    </div>
    <div class="inner">
      <form action="{% url 'account_change_password' %}" accept-charset="utf-8" method="post" class="frm-form" id="chg-pwd-form">
        {% csrf_token %}
        {% if messages %}
          <div>
            <strong>{% trans "Message" %}</strong>
            <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if form.errors %}
          <strong> {% trans "Please correct the errors below." %}</strong>
          <br/>
          {{ form|form_all_error }}
          <br/>
        {% endif %}
        <table cellspacing="0" cellpadding="5" border="0">
          <tbody>
            <tr>
              <td width="120" align="right">
                {% trans 'Old password' %}
              </td>
              <td width="200" align="left">
                {{ form.oldpassword }}
              </td>
            </tr>
            <tr>
              <td align="right">
                {% trans 'New password' %}
              </td>
              <td width="200" align="left">
                {{ form.password1 }}
              </td>
            </tr>
            <tr>
              <td align="right">
                {% trans 'Password (again)' %}
              </td>
              <td width="200" align="left">
                {{ form.password2 }}
              </td>
            </tr>
            <tr>
              <td align="right">
              </td>
              <td width="200" align="left">
                <input type="submit" class="super normal button" value="{% trans 'Change my password' %}">
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
