{% extends "lbforum/base_site.html" %}

{% load i18n %}
{% load lbforum_filters %}
{% load lbforum_tags %}

{% block title %}{{  block.super }}{% endblock %}

{% block content_right_bar %}
  {% include 'lbforum/widgets/cur_user_profile.html' %}
{% endblock %}

{% block content_content %}
  <div class="box">
    <div class="cell">
      <span class="bigger">
        <a href="{% url 'lbforum_index' %}">{% trans "Home" %}</a>
        <span class="chevron">&raquo;</span>
        {% trans "Register" %}
      </span>
    </div>
    <div class="inner">
      <form action="{% url 'account_signup' %}" accept-charset="utf-8" method="post" class="frm-form" id="afocus">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% if form.errors %}
          <div class="ct-box error-box">
            <p class="errornote"> {% trans "Please correct the errors below." %} </p>
            {{ form|form_all_error }}
          </div>
        {% endif %}
        <div class="sep10"></div>
        <table cellspacing="0" cellpadding="5" border="0">
          <tbody>
            <tr>
              <td width="120" align="right"> {% trans "Username" %} </td>
              <td width="200" align="left"> {{ form.username }} </td>
            </tr>
            <tr>
              <td width="120" align="right"> {% trans "Password" %} </td>
              <td width="200" align="left"> {{ form.password1 }} </td>
            </tr>
            <tr>
              <td width="120" align="right"> {% trans "Password (again)" %} </td>
              <td width="200" align="left"> {{ form.password2 }} </td>
            </tr>
            <tr>
              <td width="120" align="right"> {% trans "e-mail" %} </td>
              <td width="200" align="left"> {{ form.email }} </td>
            </tr>
            <tr>
              <td width="120" align="right"> {% trans "captcha" %} </td>
              <td width="200" align="left">
                {{ form.captcha }}
              </td>
            </tr>
            <tr>
              <td width="120" align="right"> </td>
              <td width="200" align="left"> <input type="submit" class="super normal button" value="{% trans "Sign Up" %}"> </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
